<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="{{ static_url('js/to_do.js')}}"></script>
        <link rel="stylesheet" href="{{ static_url('css/web.css')}}">
        <title>Para hacer</title>
    </head>
    <body>
        <a href="to-do/add"><button>Añadir tarea</button></a>

        <br>
        <br>
        <br>

        <form action="">
            <table>
                <tbody>
                    <tr>
                        <td class="title">
                            <b>Para hacer</b>
                        </td>

                        <td class="title yes">
                            <b>Hecho</b>
                        </td>
                    </tr>

                    <tr>
                        <td class="no">
                            {% for element in to_do %}
                                <input type="checkbox" name="{{ element }}" id="{{ element }}" onclick="checked(this)"> {{ element }}
                                <br>
                            {% end %}
                        </td>

                        <td class="yes">
                            {% for element in done %}
                                <input type="checkbox" name="{{ element }}" id="{{ element }}" onclick="checked(this)" checked> {{ element }}
                                <br>
                            {% end %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <input type="submit">
        </form>
    </body>
</html>